<!DOCTYPE html>
<html>
<head>
    <title>Page Error 500</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div>
    <div class="w-5/12 mx-auto mt-20 h-96 border shadow-md bg-gray-50">
        <div class="mt-20 text-lime-300 text-4xl text-center">500</div>
        <br/>
        <div class="text-center text-gray-700 text-xl">서비스 이용에 불편을 드려 죄송합니다.</div>
        <div class="text-center text-gray-700 text-xl">서버에 문제가 있습니다.</div>
    </div>
</div>

<script type="text/javascript">
</script>

</body>
</html>
