<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.board.mapper.FileMapper">
    <select id="findBoardIdsByBoardIds" resultType="Long">
        SELECT DISTINCT board_id
        FROM file
        WHERE board_id IN
        <foreach collection="boardIds" item="boardId" index="index" open="(" close=")" separator=",">
            #{boardId}
        </foreach>
    </select>

    <select id="findFilesByBoardId" resultType="File">
        SELECT file_id AS fileId, name, real_name AS realName, board_id AS boardID
        FROM file
        WHERE board_id = #{boardId}
    </select>

    <select id="findFileByRealName" resultType="File">
        SELECT file_id AS fileId, name, real_name AS realName, board_id AS boardId
        FROM file
        WHERE real_name = #{fileName }
    </select>

    <insert id="save">
        INSERT INTO file (name, real_name, board_id)
        VALUES (#{name}, #{realName}, #{boardId})
    </insert>
</mapper>